@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}

.g-recaptcha div:first-child {

    margin: auto;
    width: 100%;
    text-align: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Lato", "sans-serif";
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}


ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}


h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}



p {
    margin: 10px 0;
}


img {
    width: 100%;
}
/* Footer */
.footer .social a {
    margin: 0 10px;
}

.footer img {
    width: 80%;
}

.footer .grid {
    gap: 200px;
}

.social i:hover {
    transition: transform 0.3s ease-in;
    transform: translateY(-10px);
}

/* Navbar */

.navbar img {
    width: 200px; /* width of container */
    height: 60px; /* height of container */
    object-fit: cover;
    
}
nav {
    background-color: white;
    height: 80px;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

nav ul {
    display: flex;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }
    

nav ul li a {
    color:black;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
}

.navbar .logo {
    line-height: 40px;
    padding: 0 50px;

}
ul li a.active, ul li a:hover{
    background: var(--primary-color);
    transition: .5s;
}

.navbar .flex {
    justify-content: space-between;
}

.logo:hover {
    transition: transform 0.2s ease-in;
    transform: translateY(-5px);
}

.current {
    border-bottom: 2px black solid;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

}

.sticky + content {
    padding-top: 60px;
}



.checkbtn{
    font-size: 30px;
    color: var(--dark-color);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  @media (max-width: 952px){
    .logo{
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }

  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--dark-color);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 100;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color: white;
    }
    a:hover,a.active{
      background: none;
      color: white;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
/* Images */


/* Showcase */
.pimg1 {
    background-image: url(../images/polytech.jpg);
    min-height: 100%;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg2 {

    background-image: url(../images/linko.jpg);
    min-height: 100%;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg3 {
    background-image: url(../images/thumbnail.jpg);
    min-height: 65%;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    /* Fixed = Parallax
        Scroll = normal */
}

.blurbackground {
    background: rgba(0,0,0,.8);
    padding: 15px 15px 15px 40px;
    border-radius: 15px;
    
  }
  


  .text-wraper {
    z-index: 700;
    position: relative;
    color: #FFFFFF;
    width: 100%;
  }
  
.form {
    width: 100%;
    background-color: var(--secondary-color);
    color: black;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 100px;
}


.form h1 {
    font-size: 40px;
    font-weight: bold;
}

.form p {
    line-height:1.1em;
    margin: 20px 0;
    font-size: 20px;

}

.showcase-form.card {
    height: fit-content;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: inherit;
}

.form img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.form a {
    margin: 20px 0;
    padding: 2px;
}

.form i:hover {
    transition: transform 0.3s ease-in;
    transform: translateY(-10px);
}

.form .grid {
    overflow: visible;
    grid-template-columns: 40% 60%;
    gap:  20px;
    padding: auto;
    margin: 0 auto;
    justify-content: flex-end;
}

.form-control.grid {
    overflow: visible;
    grid-template-columns: 50% 50%;
    gap:  10px;
    justify-content: flex-end;
    position: relative;
}

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 80px;
    font-weight: bold;
}

.showcase p {
    line-height:1.1em;
    margin: 20px 0;
    font-size: 40px;

}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30 px;
}


.showcase-form .form-control {
    margin: 30px 0;
    height: 100%;
}

.showcase-form input {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}


textarea{
    padding: 10px;
    resize: vertical;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}

.showcase-form input:focus {
    outline: none;
}

#tereza {
    border: 1rem solid;
}

#angelo {
    border: 1rem solid;
}
/* Qui sommes nous */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
    gap: 150px;
}



/* Stats */

.stats {
    padding-top: 35px;
 
}
  
.stats-heading {
    max-width: 100%;
    margin: auto;
}
  
.stats h1 {
    font-size: 60px;
    font-weight: bold;
    color: black;
}

.stats h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.stats .grid {
    gap: 50px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
    color:black;
}

.stats img {
    width: 50%;
    margin: 20px;
}

.stats .linko {
    width: 60%;
    margin: 5px;
}


/* Carousel */
.carousel-cell {
    width:100%;
    height: 700px;
    margin: 30px 10px;
    overflow: hidden;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: O 5px 202px rgba(0,0,0,0.5);
    border-radius: 15px;
    
}

.carousel-cell:hover {
    height: 100%;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s ease-in;
    transform: translateY(-25px);
}


.carousel-cell .imgBx {
    width: 100%;
    height: 100%;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    border-radius: 15px;

}
.carousel-cell .imgBx img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.carousel-cell .content {
    margin-top: 40px;
    padding: 10px 5px;
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    
}

.carousel-cell:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: 0.2s;
    border-radius: 15px;
}

/* Page presta */

.presta .container {

    width: 100%;  
}


.presta h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 40px;
}

.logoPresta:hover {
    transition: transform 0.3s ease-in;
    transform: translateY(-10px);
}

.logoPresta.card {
    padding: 20px;

}


.prestaShow {
    text-align: center;
}

.prestaShow div {
    font-size: 30px;
    padding:20px;
}

.prestaShow h2 {
    font-weight: bold;
    padding-bottom: 30px;
    margin-top: 0 auto;
}

.wrapper {
    min-height: 100vh;
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
  }


.button {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

/* Animations */

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@media(max-width: 1200px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid, .pres-main .grid, .pres-main .grid, .footer .grid, .form .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 400px;
    }


    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head, .features-sub-head, .docs-head {
        text-align: center;
    }

    .features-head img , .features-sub-head img , .docs-head img{
        justify-self: center;
    }

    .carousel-cell .content h2{
        font-size: 1.2em;
    }
       
    .stats img {
        width: 25%;
    }

    .form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #carte {
        display: none;
    }

    .form img {
        height: 50%;
        width: 50%;
    }
    
    .showcase-form.card {
        height: 100%;
    }

    .form .show {
        text-align: center;
    }

    footer img {
        width: 50%;
    }

/* Tablet  and under*/
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid, .pres-main .grid, .pres-main .grid, .footer .grid, .form .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 400px;
    }


    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head, .features-sub-head, .docs-head {
        text-align: center;
    }

    .features-head img , .features-sub-head img , .docs-head img{
        justify-self: center;
    }

    .carousel-cell .content h2{
        font-size: 1em;
    }
        
    
    .stats img {
        width: 25%;
    }


    .footer {
        justify-content: center;
        padding: 0 px;
        margin: 0px;
    }

    
    .form {
        height: 100%;
        width: 100%;

    }

    .form p 

    .form img {
        height: 25%;
        width: 25%;
    }
    
    .showcase-form.card {
        height: 100%;
    }

    footer img {
        width: 50%;
    }

}


/* Mobile */
@media(max-width: 600px){


    
    .form {
        height: 100%;
        width: 100%;

    }

    .form img {
        height: 100px;
    }
    
    .showcase-form.card {
        height: 100%;
    }

    .form .show {
        text-align: center;
    }

    footer img {
        width: 50%;
    }
}}